# Auto detect text files and perform LF normalization
* text=auto
*.wav filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/* filter=lfs diff=lfs merge=lfs -text
**/Fonts[[:space:]]&[[:space:]]Materials/ filter=lfs diff=lfs merge=lfs -text
